body {
	margin:0;
	text-align:center;
	}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
  color:black;
}
h1 {
	text-align: center;
}

.content {
	text-align: center;
	margin-top:100px;
	width:80%;
	font-size:22px;
}
.field{
	padding:10px;
	
}
.field input{
	width:190px;
	height:35px;
}
.field label{
	width:100px;
}
.field span{
	width:150px;
	font-size:22px;
	text-align:left;
}

.sub{
	color:black;
	background-color:#00ff00;
	  margin: 0;
  overflow: hidden;
  border-style:none;
  font-weight:bold;
  cursor: pointer;
}

table{
	width:75%;
}
tr {
	padding:20px;
}